In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
import pandas as pd
df_one_line = pd.read_json('/content/drive/My Drive/datasets/nirra-log-bot/2021-03-17.json')
df_one_line.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      13 non-null     object
 1   subtype   13 non-null     object
 2   ts        13 non-null     float64
 3   user      4 non-null      object
 4   text      13 non-null     object
 5   bot_id    10 non-null     object
 6   bot_link  1 non-null      object
dtypes: float64(1), object(6)
memory usage: 856.0+ bytes

In [27]:
import os
import glob

In [28]:
import os,json
import pandas as pd

# read json file
path_to_json = '/content/drive/My Drive/datasets/nirra-log-bot/'

# read all json files
for file_name in [file for file in os.listdir(path_to_json) if file.endswith('.json')]:
  with open(path_to_json + file_name) as json_file:
    data = json.load(json_file)
    df_raw = pd.DataFrame.from_records(data)

# convert file to csv
df_raw.to_csv('/content/drive/My Drive/datasets/nirra-log-bot/csv/file_name.csv', sep=';')

In [5]:
df_raw.head()

      type      subtype  ...                 ts       bot_id
0  message  bot_message  ...  1630825434.000100  B01RC3AKYG6
1  message  bot_message  ...  1630825435.000200  B01RC3AKYG6
2  message  bot_message  ...  1630825435.000300  B01RC3AKYG6
3  message  bot_message  ...  1630825435.000400  B01RC3AKYG6
4  message  bot_message  ...  1630825438.000500  B01RC3AKYG6

[5 rows x 5 columns]

In [6]:
 df_raw['text'].str.contains("@").sum() # search total number of @ within text column

41

In [7]:
df_raw['text'].str.contains("@")

0       False
1       False
2       False
3       False
4       False
        ...
5475    False
5476    False
5477    False
5478    False
5479    False
Name: text, Length: 5480, dtype: bool

In [8]:
# slicing
df_raw[df_raw['text'].str.contains("@")] # masque à l'intérieur des crochets

         type      subtype  ...                 ts       bot_id
836   message  bot_message  ...  1630834047.040000  B01RC3AKYG6
837   message  bot_message  ...  1630834050.040100  B01RC3AKYG6
838   message  bot_message  ...  1630834055.040200  B01RC3AKYG6
839   message  bot_message  ...  1630834055.040300  B01RC3AKYG6
840   message  bot_message  ...  1630834055.040400  B01RC3AKYG6
841   message  bot_message  ...  1630834057.040500  B01RC3AKYG6
848   message  bot_message  ...  1630834063.041200  B01RC3AKYG6
849   message  bot_message  ...  1630834064.041300  B01RC3AKYG6
850   message  bot_message  ...  1630834065.041400  B01RC3AKYG6
851   message  bot_message  ...  1630834069.041500  B01RC3AKYG6
854   message  bot_message  ...  1630834070.041800  B01RC3AKYG6
855   message  bot_message  ...  1630834074.041900  B01RC3AKYG6
856   message  bot_message  ...  1630834077.042000  B01RC3AKYG6
857   message  bot_message  ...  1630834077.042100  B01RC3AKYG6
858   message  bot_message  ...  1630834086.042200  B01RC3AKYG6
861   message  bot_message  ...  1630834089.042500  B01RC3AKYG6
862   message  bot_message  ...  1630834090.042600  B01RC3AKYG6
866   message  bot_message  ...  1630834094.043000  B01RC3AKYG6
867   message  bot_message  ...  1630834097.043100  B01RC3AKYG6
868   message  bot_message  ...  1630834097.043200  B01RC3AKYG6
870   message  bot_message  ...  1630834110.043400  B01RC3AKYG6
872   message  bot_message  ...  1630834117.043600  B01RC3AKYG6
874   message  bot_message  ...  1630834118.043800  B01RC3AKYG6
875   message  bot_message  ...  1630834120.043900  B01RC3AKYG6
876   message  bot_message  ...  1630834124.044000  B01RC3AKYG6
877   message  bot_message  ...  1630834128.044100  B01RC3AKYG6
878   message  bot_message  ...  1630834129.044200  B01RC3AKYG6
879   message  bot_message  ...  1630834129.044300  B01RC3AKYG6
880   message  bot_message  ...  1630834131.044400  B01RC3AKYG6
881   message  bot_message  ...  1630834132.044500  B01RC3AKYG6
882   message  bot_message  ...  1630834133.044600  B01RC3AKYG6
883   message  bot_message  ...  1630834138.044700  B01RC3AKYG6
884   message  bot_message  ...  1630834139.044800  B01RC3AKYG6
885   message  bot_message  ...  1630834139.044900  B01RC3AKYG6
886   message  bot_message  ...  1630834139.045000  B01RC3AKYG6
887   message  bot_message  ...  1630834139.045100  B01RC3AKYG6
888   message  bot_message  ...  1630834139.045200  B01RC3AKYG6
889   message  bot_message  ...  1630834140.045300  B01RC3AKYG6
890   message  bot_message  ...  1630834143.045400  B01RC3AKYG6
5419  message  bot_message  ...  1630911146.002700  B01RC3AKYG6
5443  message  bot_message  ...  1630911224.005100  B01RC3AKYG6

[41 rows x 5 columns]

In [10]:
df_raw['text'] == None

0       False
1       False
2       False
3       False
4       False
        ...
5475    False
5476    False
5477    False
5478    False
5479    False
Name: text, Length: 5480, dtype: bool

In [11]:
df_raw[df_raw['text'] == None]

Empty DataFrame
Columns: [type, subtype, text, ts, bot_id]
Index: []

In [13]:
df_raw['text'][1]

'[info] - ["[API REQUEST]: 07083075646, /client/wallet/balance/get/4978, 2021-09-05T07:03:55.223Z"]'

In [15]:
str = df_raw['text'][1049]
if re.search('info', str):
  log_level = re.search('info', str)
  print(log_level)
  print(log_level.group(0))
elif re.search('error', str):
  log_level = re.search('error', str)
  print(log_level)
  print(log_level.group(0))

<re.Match object; span=(1, 6), match='error'>
error

In [16]:
 str = df_raw['text'][1]
if 'mailto' in str:
  mail = re.search('[\w.+-]+@[\w-]+\.[\w.-]+', str)
elif 'mailto' not in str:
  mail = re.search('[0-9]+', str)

mail.group(0)

'07083075646'

In [17]:
import re

str = df_raw['text'][4835]

if re.search('API REQUEST', str):
  print(True)
elif re.search('API REQUEST', str):
  print(False)

In [18]:
import datetime

# function to convert date to Timestamp
def convertToTimestamp(str):
  element = datetime.datetime.strptime(str,"%Y-%m-%dT%H:%M:%S.%fZ")
  return datetime.datetime.timestamp(element)

In [19]:
timestamp = convertToTimestamp('2021-09-05T07:03:55.223Z')
timestamp

1630825435.223

In [33]:
import re

# parse row of text column
def parserow(str):
    pattern = "(\d{4})-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d).(\d{3})*[a-zA-Z]"
    datepattern = re.compile("(?:%s)"%(pattern))
    log_level_col = []
    api_request_col = []
    type_request_col = []
    phone_Col = []
    date_col = []
    endpoint_Col = []
    email_col = []

    for index, row in df_raw.iterrows():
        #str = row['text']
        str
        
        # check if the row contains an email address
        if 'mailto' in str:     
            phone_or_email = re.search('[\w.+-]+@[\w-]+\.[\w.-]+', str) # extract an address email
            try:
              email_col.append(phone_or_email.group(0))
              phone_Col.append(None)
            except AttributeError:
              email_col.append(None)
        elif 'mailto' not in str:
            phone_or_email = re.search('[0-9]+', str)    # extract a phone number
            email_col.append(None)
            try:
              phone_Col.append(phone_or_email.group(0))
            except AttributeError:
              phone_Col.append(None)

        # check if the row contains "info" string
        if re.search('info', str):
            log_level = re.search('info', str)
        elif re.search('error', str):
            log_level = re.search('error', str)

        if re.search('API REQUEST', str):
            type_request = re.search('API REQUEST', str)
        elif re.search('CLIENT MOBILE LOGIN', str):
            type_request = re.search('CLIENT MOBILE LOGIN', str)
        elif re.search('SMS PAYLOAD', str):
            type_request = re.search('SMS PAYLOAD', str)
        elif re.search('SMS SUCCESS', str):
            type_request = re.search('SMS SUCCESS', str) 
        elif re.search('WALLET PAYLOAD', str):
            type_request = re.search('WALLET PAYLOAD', str)
        elif re.search('WALLET SUCCESS', str):
            type_request = re.search('WALLET SUCCESS', str) 
        elif re.search('LOAN ERROR', str):
            type_request = re.search('LOAN ERROR', str)  
        elif re.search('LEADWAY PAYLOAD', str):
            type_request = re.search('LEADWAY PAYLOAD', str)
        elif re.search('LEADWAY SUCCESS', str):
            type_request = re.search('LEADWAY SUCCESS', str)    
        elif re.search('LOAN ERROR', str):
            type_request = re.search('LOAN ERROR', str)
        elif re.search('OKRA PAYLOAD', str):
            type_request = re.search('OKRA PAYLOAD', str)
            if re.search('[\w.+-]+@[\w-]+\.[\w.-]+', str):
                address_email = re.search('[\w.+-]+@[\w-]+\.[\w.-]+', str)
        elif re.search('OKRA SUCCESS', str):
            type_request = re.search('OKRA SUCCESS', str)
        elif re.search('VTPASS SUCCESS', str):
            type_request = re.search('VTPASS SUCCESS', str)  

        # extract date
        if datepattern.search(str):
            datematcher = datepattern.search(str)

        #extract endpoint
        if re.search('/+[/a-z/a-z/0-9]+', str):
          endpoint = re.search('/+[/a-z/a-z/0-9]+', str)
        elif re.search('^[a-zA-Z0-9!@#$&()\\-`.+,/\"]*$', str):
          endpoint = re.search('^[a-zA-Z0-9!@#$&()\\-`.+,/\"]*$', str)

        try:
          log_level_col.append(log_level.group(0))
        except AttributeError:
          log_level_col.append(None)

        try:
          type_request_col.append(type_request.group(0))
        except AttributeError:
          type_request_col.append(None)

        try:
          date_col.append(convertToTimestamp(datematcher.group(0)))
        except AttributeError:
          date_col.append(None)

        try:
          endpoint_Col.append(endpoint.group(0))
        except AttributeError:
          endpoint_Col.append(None)

In [34]:
str = row['text']
parserow(str)

In [35]:
# Add new columns to the dataset

df_raw['Log_Level'] = log_level_col
df_raw['Type_Request'] = type_request_col
df_raw['Phone_Number'] = phone_Col
df_raw['Date'] = date_col
df_raw['EndPoint'] = endpoint_Col
df_raw['Email'] = email_col

In [32]:
df_raw.head(10)

      type      subtype  ...                               EndPoint Email
0  message  bot_message  ...                       /client/get/4978  None
1  message  bot_message  ...        /client/wallet/balance/get/4978  None
2  message  bot_message  ...                       /client/get/4978  None
3  message  bot_message  ...  /client/lifestyle/categories/get/4978  None
4  message  bot_message  ...            /client/locations/sync/4978  None
5  message  bot_message  ...                       /client/get/4978  None
6  message  bot_message  ...                   /client/adverts/4978  None
7  message  bot_message  ...                  /client/products/4978  None
8  message  bot_message  ...                       /client/get/4978  None
9  message  bot_message  ...                       /client/get/5027  None

[10 rows x 11 columns]

In [23]:
df_raw[df_raw['Log_Level']== 'error']

         type      subtype  ... EndPoint Email
1049  message  bot_message  ...     /png  None
1050  message  bot_message  ...       /w  None
1051  message  bot_message  ...       //  None
1052  message  bot_message  ...       /q  None
2280  message  bot_message  ...     /png  None
2281  message  bot_message  ...      /nf  None
2282  message  bot_message  ...      /yw  None
2283  message  bot_message  ...       /w  None
3441  message  bot_message  ...     /png  None
3442  message  bot_message  ...       /k  None
3443  message  bot_message  ...     /pj6  None
3444  message  bot_message  ...     /akj  None
4834  message  bot_message  ...     /png  None
4835  message  bot_message  ...       /g  None
4836  message  bot_message  ...      /hd  None
4837  message  bot_message  ...       /w  None

[16 rows x 11 columns]

In [ ]:
df_raw['Log_Level'].str.contains('error').sum()

16

In [ ]:
df_raw['Email'].str.contains('info@libertaleasing.com').sum()

2

In [ ]:
df_raw[df_raw['ts'] == None]

Empty DataFrame
Columns: [type, subtype, text, ts, bot_id, Log_Level, Type_Request, Phone_Number, Date, EndPoint, Email]
Index: []

In [ ]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5480 entries, 0 to 5479
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          5480 non-null   object
 1   subtype       5480 non-null   object
 2   text          5480 non-null   object
 3   ts            5480 non-null   object
 4   bot_id        5480 non-null   object
 5   Log_Level     5480 non-null   object
 6   Type_Request  5480 non-null   object
 7   Phone_Number  5478 non-null   object
 8   Date          5480 non-null   object
 9   EndPoint      5480 non-null   object
 10  Email         5480 non-null   object
dtypes: object(11)
memory usage: 471.1+ KB

In [ ]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5480 entries, 0 to 5479
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   type     5480 non-null   object
 1   subtype  5480 non-null   object
 2   text     5480 non-null   object
 3   ts       5480 non-null   object
 4   bot_id   5480 non-null   object
dtypes: object(5)
memory usage: 214.2+ KB

In [ ]:
df_raw['text'][1049]

'[error] - ["[LOAN ERROR]:","{\\"code\\":\\"ER_BAD_NULL_ERROR\\",\\"errno\\":1048,\\"sqlMessage\\":\\"Column \'name\' cannot be null\\",\\"sqlState\\":\\"23000\\",\\"index\\":0,\\"sql\\":\\"INSERT INTO preapplications Set `product` = 11, `loan_amount` = 5000, `tenor` = 1, `loan_purpose` = \'18\', `tenor_type` = \'monthly\', `selfie` = \'data:image/png;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDABALDA4MChAODQ4SERATGCgaGBYWGDEjJR0oOjM9PDkzODdASFxOQERXRTc4UG1RV19iZ2hnPk1xeXBkeFxlZ2P/2wBDARESEhgVGC8aGi9jQjhCY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2P/wAARCAH0AXcDASIAAhEBAxEB/8QAGwAAAgMBAQEAAAAAAAAAAAAAAAIBAwQFBgf/xAA2EAACAgIBAwMDBAAEBgIDAAAAAQIRAyExBBJBUWFxBSKBEzKRoSOxwdEUM0JS4fBi8RUkcv/EABgBAQEBAQEAAAAAAAAAAAAAAAABAgME/8QAHxEBAQEBAAMBAQADAAAAAAAAAAERAhIhMUFRMmFx/9oADAMBAAIRAxEAPwDyGrpL+SKe+C3JilDaT58CVS438CVqwm7dOmHdJcolpcb1wCfrWgizHkpUnX52Wd8JKLat+WZqVpp1Y8ZUlbdcbJi6aeC9ptrwVuMqt/yWxyPX+YycJfuT15LqM8W9quRlO1Wix4I82kmI8UlxtFPYt8X+BoylCVrz7FN1+SVL2AtmlPb02ymWPd+ENr/Qm1VJUvBBW21qv7Gxqm9exFeGk2PFUkgH4SVtluKL7l8lSXtyasSah/n6mb6akGSXbFpNV8me+bXxsfPN6V0VL7l4+SSAeFtXB2n48iqcoOrr2H3B6k0iHJSik0m/ZGkPHIn9rq/I7SatL32Uyx1+1NkXKL3oKtpPfD8jJtc+HyVwyJqqSfyWJJLV7IJaUfz6FThatDqqd+PYmNXz+QrO/t1JFuLKlSluixxT0/G9FMsbTdLRZ7TG3Fm7lV93njkZyjLdar+DnRbXyjRHMmvuf5A24upeN3F2n4NrePqcXMe58L39zjqnfbX5HhkakrlK15szedWdJ6rp3jbuq9jHGLcl2o6WbLkywabT9Rej6aNyk6ST50NsjObWRY5pW0+dEqKnKlJpvmls7cI45x07vVtHE6v7c0lBa8jnu24t5wTqLdPnxyLVxdr4aEjKvj38DxS5VG2RDL+n3atcdvCNH66y1ptfyZ15i7/BEoNNuLVWyWRZV2XFX31d8NoplG09UufgaGZq4ya1rfkmUXKNx3vyNsLlZp42nwWY12JvjW0vQarp3UvKHSSaada4ZbWcN3b914vkCIxlFrSjJvjtv+gJmrM/SrJW5Wq0GSKyQ3fnaVaMym6auyxTVVbTGLo/R7txa9fUrcWlbT9y9SSdqk2tsbtuP3KTT8k0xmT97ZNJ0WTwr/pu+eBJQnF3zXoXUKo0rRKy2tr8gvCfIKNp2iiVkuOmPHIqaatfBTKNVTaBNrTpr4C+18owltxdepVLA9uP9kRn4LYZX9ySIM7Ti6ar5BNqzW+xr7kvz4KsmKCqm0PJcUp9zryWq97tCRVS/wDJZHjnfsKiYq2l6mruShTVLyUwVtvVLm/6GyOo237Gb7WM+VSlNtS0IpdvKLEn2vloh75VmkT3KudEJyXCYkoc1/BMcnammr9ALYtdqS8DRttKS15KotS45LO5pJt6oionjTvttiqTg93+S6Mk0ne/I2RrKn3Pb9hpiuORS09E7jzx6lU8fbwyYZe1VOwLVNS9bXuOpNJpptehWmmm41fKQKTTVqgalw7/ANpVKDxunHfyabtJehKqUFFq6XwNPrNGdP0XoWrJFsiWDScXzsrbrRfSL1Nd3oTkgpQtN0/4sojNW+7nwWxyOKq7sIt6bqsuGXara/yLOrxPJPvtW148GZz7nVExnJa7vkme9i6rnjjF3K00+Cpukq0zeo488XFtxlRTk6XJFLsj3JrlFlMZlNcrb90WQlH0fporyQcbTRCnS8WUWvslFX5/lEQdPhNENxktPa5GjCTtv5QQ8n3KlVJci09PZMFcKlqgi+a8kDRk1Kr362BDTlFtNb4fIDJ/WaocIv8Aa6+SP0ZO1q14Ns+ib3Cd3/n6Gf8ASlG7V+5JW8URk4+X8eBllrxT9UO5RUt7VENY8kmk0n4paQIeGSLd1uizujJcJrhryZ5YJRV8+6Ylzhrehmr7jfjWN/vhd6tMoz9O4O43T8FUc0orjRauo7lbdsmWL6qh2uVbXqS3GUe5upexpc8c4qpOMl68B+jCUdSVv2LpjF22T90WnfBon0yX7b7vUqlimtdvPNF3Uwv6nr6A5p2J42Qt64CS4sitWWLSXn4Ehp0PdvyFXY1cd1VlXUT+6mnr+i+CUVrxx7izi3J91UZ1WVS3zr0Jv1VouydLFu4uvjZncZwu4v38mpWcWx7Z+/yQ4JxK+70/glZL5/lAQ8bvT/JKnVp7S/A3du7ClJbW/ZgEJu9P+S15E6XBTLFv7WQpOLqSGGtEZN8U75Q/6MZ1Glb8ehntJpxZdHI5LdOnwZxpXl6eWOfauRbyQa748F8pfb5evJMpNwSatF1MVrInbTr0HUvV/hiPFFp0mn6lcu6FW79wNTnvVIiUVJbjbKO5tadq/wCCyMqhd2MTSywytKKk0/RFafa/Q1KT8SEkoze+fUuipTpeR4tS549WVzxyhLjXqKnau216Iovfb/0y+GzX03XfpayK3/3NmCMlw1QyavmvYzZqy41dWoyipwdqXkwyg+29VfPoWOMbSToWTndbkvYsmFqrHG5caXJf3SbVLhbfoQkkuEtbGSSVIv1kyfc6Umn88kd0vF65BKufmiL12yu/DWwmplK0v73/AO+wCN14v2AHxpjmlqt+hdgnFpqbUW+XVW/9fBija52l5Y0Wo6aXyc7G5VfWRlHK24dql8bKNSdLn30bG3JOL48plEsC7bqvyalQY8valGWi/vhki7S5MbhNbStfyQmq5aF5anTVLHhaW6+OSJdMquL/AJKknKuyXc/b/YaOWcG1T/Iyrsv0k8c4NXfyRHJJWaYdTqpRTQLDhyp9rqRN/q+MvxVHqZRp2015ReuqU9TjGX/y4ZVLpZK+1pr5KJQlF/cqY9VLsaMnZNOV7My3OnZHc6GjHzRqM2nUaTd/gfHuS4K7LsUdX5+BUh5txxv18Gb9aV/crRs/4fJng/06dPavZmlGWN9mSNezRmY17TDNF+3sXRyxcXe/yZZQj3faPjjJz7U1bdbGEq14cWT9umU5ME8bdbRb1HT5umkv1KV8NMFmkorba+An1ntPlUDuLfk0tYpJ+H6rwVvA032O18l0wsZKiZKM1d0yvt7XU00xu1vadlQrg17BGXat7J2uQaUl7gXRyd3kaldO9+bMdOL02WfqepMXWhuS1bcX7g17FcciZYp07YFdbdaGxX3NN6Hl90r5frRCiu52gCcvRfARlW0E4Rk7Unfoyv7l/HKAseRyVPgqnFeNB372Tdrn+S/EVftf+48ZX6/kZqMkrsSeNx+5U0UWKvHP+YP04/BVCck0t0WyaSSe0ETjavtf9DRTpiRenROou0r9UQWOudf7lcpN75JlTa7VRXLj/fwWFQ2qrhAQqX/V7JoAsIpyVPwtNFsc1fPrRQknuv4DzwEaozTl7limmqvVmFN+uh1N8cmcWVrf7fR+okowmvuir9Voqjmvz48jxmnynsYHwQxwyqUpWvKast6h41ic4xvdNP0KXSe9b/khydNX+Aqm4S3FU/'

In [ ]:
df_raw['text']

In [ ]:
from sklearn.compose import ColumnTransformer #Apply a set of transformations sequentially to a set of columns
from sklearn.pipeline import Pipeline #Chain different functions feeding the output of the preceeding to the following function as an input
from sklearn.preprocessing import StandardScaler #Standardize features by removing the mean and scaling to unit variance
from sklearn.preprocessing import OneHotEncoder #Dog = (0,1); Cat = (1,0)
from sklearn.preprocessing import OrdinalEncoder #Substitute categorical values by numbers assigned in an ordinal fashion (i.e. Rating = "Bad" "Average" Good" -> Rating = 0, 1, 2)
from sklearn.impute import SimpleImputer #Flexible class for data cleaning and missing values
from sklearn.base import BaseEstimator, TransformerMixin
import pandas as pd
#from utils import Therond_minmax as T, myencoding as MY